.matCard {
    max-width: 300px;
    height: 500px;
    display:inline;
    float:left;
    margin: 5px;
  }
  
  .matCardImg {
    max-width:300px;
  }

  .matCardTitle{
    max-width: calc(100% - 25px); ;
    overflow: hidden; 
    white-space: nowrap;
  }